.tetrisDesign{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rowDesign{
    background-color: beige;
    display: flex;
    padding: 0px;
    margin: 0px;
    height: 50px;
    color: black;
}

.colDesign{
    width: 50px;
    border: solid;
    border-color: white;
    background-color: aqua;
}

.button{
    margin: 5px;
    background-color: blue;

    transition: 0.5s;
}
.button:hover{
    background-color: rgb(71, 71, 190);
}

.JDesign{
    background-color: blue;
}
.LDesign{
    background-color: red;
}
.ODesign{
    background-color: purple;
}
.SDesign{
    background-color: green;
}
.TDesign{
    background-color: burlywood;
}
.ZDesign{
    background-color: orange;
}