.tetrisDesign{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rowDesign{
    background-color: beige;
    display: flex;
    padding: 0px;
    margin: 0px;
    height: 50px;
    color: black;
}

.colDesign{
    width: 50px;
    border: solid;
    border-color: white;
}


